.Chat-main
  .Chat-main__header
    .Chat-main__header__group
      .Chat-main__header__group__name
        = @group.name
      .Chat-main__header__group__member-list
        Member:
        - @group.users.each do |user|
          = user.name
            
    .Chat-main__header__edit-btn
      = link_to edit_group_path(@group), class: "Chat-main__header__edit-btn__detail" do
        Edit

  .Chat-main__message
    = render @messages

  .Chat-main__footer
    = form_with model: [@group, @message], method: :post, id: "new_message", class: "Chat-main__footer__form", local: true do |f|
      .Chat-main__footer__form__contents
        = f.text_field :body, placeholder:"type a message", class:"Chat-main__footer__form__contents__text"
        = f.label :image, class: "Chat-main__footer__form__contents__label" do
          = f.file_field :image, class: "Chat-main__footer__form__contents__file"
          = icon('far', 'image', class: 'Chat-main__footer__form__contents__image')
      = f.submit "Send", class:"Chat-main__footer__form__send-btn"
        
      
      


